.footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 70px;
    background-color: black;
    text-align: center;
    border-collapse: collapse;
}

td:hover{

    color:blue;

}
h2{

    text-align:center;
    margin-top: 10px;
}